body {
  font: 16px Arial, sans-serif;
}
.nav-toggle {
  background: #000;
  color: #fff;
  padding: 10px;
}
.nav-toggle:hover {
  cursor: pointer;
}
.nav-toggle:before {
  content:"+";
}
.nav-toggle.active:before {
  content:"-";
}
.nav-items {
  background: #ccc;
  display: none;
}
.nav-items ul, .nav-items li {
  margin: 0;
  padding: 0;
}
.nav-items a {
  padding: 10px;
  border-bottom: 1px solid #aaa;
  display: block;
}
